.celle {
  min-height: 80px;
  min-width: 0; 
  flex: 1 0 0; 
  word-break: break-word;
}

.partite {
  font-size: 12px;
  white-space: normal;
  word-break: break-word;
}

.calendario-container {
  overflow-x: auto; 
}

.row-giorni, .row-celle {
  display: flex;
  flex-wrap: nowrap; 
}

.iconaCalendario{font-size: 22px;
    }